body {
  background: linear-gradient(to right, #cbffcb, #fbb0a9);
}

h1 {
  font-size: 36px;
  font-family: OCR A Std, monospace;
}

#radioButtons {
  font-size: 18px;
}

h4 {
  margin-bottom: 2px;
}

p {
  margin-top: 1px;
}

#wrapper-div {
  margin: 5%;
  text-align: center;
  align-content: center;
  display: block;
}

#alert-box {
  background-color: #ededed;
  position: relative;
  width: 33%;
  height: 200px;
  border: 1px solid grey;
  margin: auto;
  padding: 20px 10px 10px;
}

#confirm {
  background-color: #e5e5e5;
  position: absolute;
  right: 0;
  width: 100%;
  height: 50px;
  bottom: 0;
}

#confirm-button {
  font-size: 14px;
  font-weight: bold;
  background-color: #ededed;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  right: 20px;
  width: 65px;
}

.input {
  position: relative;
  top: 25%;
}

#input {
  width: 75%;
}
